@charset "utf-8";

#Image-Link-Buttons {
	margin: 15px;
    width: 100px;
    height: 100px;
	display: block;
    background: #00B6ED;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s, transform 2s;
	
}
#Image-Link-Buttons:hover {
	margin: 15px;
    width: 150px;
    height: 150px;
	display: block;
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

#Image-Link-Wrapper {
	height: 170px;
}